body {
    color: #e0e0e0;
    background-color: #2b2b30;
    margin: auto;
    max-width: 100%;
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 16px;
}
h1, h2, h3 {
    line-height: 1.2;
    text-align: center;
}

#content img { max-width: 100%; }

.clickable { transition: 0.1s; }
.clickable:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 31px -5px #00000080;
}
.clickable:active {
    transform: scale(0.99);
    box-shadow: 0px 0px 0px 0px black;
}

#logo {
    width: 400px;
    padding: 15px;
    box-shadow: 0px 0px 0px 0px;
}

a {
    text-decoration: none;
    color: #b4b6e2;
    transition: 0.1s;
}
a:hover  { color: #858bff }
a:active { color: #363B8E; }

#content {
    margin: auto;
    max-width: 750px;
}
#separator {
    padding: 3px;
    border: none;
    background: linear-gradient(90deg, #0003a8 0%, #00add0 50%, #cf00ca 100%);
    max-width: 100%;
}
#header {
    position: sticky;
    background-color: #2b2b30;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
    top: 0;
    width: 100%;
}

#links   { padding: 5px 25px; }
#links a { 
    padding-right: 10px; 
    font-weight: bold;
}

.releases {
    max-width: 700px;
    margin: auto;
}

/* Buttons for the 'Story' page */
.story-link, .story-nlnk {
    width: 65%;
    padding: 15px 20px;
    margin: 5px auto;
    text-align: center;
    font-size: 22px;
    transition: 0.1s;
    user-select: none;
}
.story-link {
    color: white;
    background-color: #4c5096;
}
.story-link:hover { background-color: #6167d8; }
.story-link:active{ color: #7c72aa; background-color: #242877; }
.story-nlnk {
    color: #c4c4c4;
    background-color: #979797;
}

#footer {
    text-align: center;
    font-size: 80%;
}

/* Mobile view */
@media only screen and (max-width: 810px) {
    #footer { font-size: 70%; }
    #content { max-width: 95%; }
    #links { text-align: center; }
    #logo {
        width: 200px;
        display: block;
        padding: 15px;
        margin: 0px auto;
    }
}

/* Hides the header if the window height is too small */
@media only screen and (max-height: 700px) {
    #header {
        position: relative;
    }
}

/* Firefox scroll bar */
* {
    scrollbar-color: #858bff #2b2b30;
    scrollbar-width: thin;
}

/* WebKit scrollbar, for all other browsers */
*::-webkit-scrollbar {
    background-color: #2b2b30;
    width: 8px;
}
*::-webkit-scrollbar-thumb        { background-color: #858bff; }
*::-webkit-scrollbar-thumb:hover  { background-color: #6A6FD4; }
*::-webkit-scrollbar-thumb:active { background-color: #363B8E; }
